/* Accordion.module.css */

.main {
  width: 100vw;
  height: auto; /* Adjust the width as needed */
  margin: 0 auto; /* Center the accordion */
  border-radius: 20px;
  background-color: transparent;
  margin-bottom: 30vh;
}

.accordion {
  display: block;
  position: relative;
  top: 50px;
  width: 60vw; /* Adjust the width as needed */
  margin: 0 auto; /* Center the accordion */
  border-radius: 36px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.layer {
  color: white;
  border: 0px #ccc;
  border-radius: 35px;
  margin-bottom: -75px;
  height: auto;
  padding: 50px;
  cursor: pointer;
  overflow: hidden;
  position: relative; /* Added position for z-index */
  padding-bottom: 0; /* Set initial padding-bottom */
  transition: background-color 10s ease-in-out, padding-bottom 0.5s ease-out; /* Match transition time for padding-bottom */
}
.layerTitle {
  font-size: 1.9rem;
  font-weight: 600;
  text-align: center;
  height: 60px;
  padding-top: 10px;
}

.layerDescription {
  text-align: left;

  padding: 10px 100px;
  overflow: hidden;
  transition: padding-bottom 10s ease-out; /* Transition for padding-bottom */
}

.layer.active {
  background-color: #f0f0f0; /* Color for active layer */
  padding-bottom: 50px; /* This will now animate from 0 to 50px */
}

.layer.active .layerDescription {
  transition: max-height 5s ease-out; /* Example transition for max-height */
}

@media (max-width: 1440px) {
  .accordion {
    width: 80vw;
  }
}

@media (max-width: 1280px) {
  .accordion {
    width: 80vw;
  }
}

@media (min-width: 768px) {
  .accordion {
    /* Add your styles for mobile here */
  }
}
