.main {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  flex-direction: column;
  height: auto;
  width: 100vw;
  background-color: white;
}

.clientsCar {
  display: grid;
  place-items: center;
  background-color: transparent;
  width: 100vw;
  height: 45vh;
}

.indicator {
  background-color: #002a4b !important;
  width: rem(12px);
  height: rem(4px);
  transition: width 250ms ease;

  &[data-active] {
    width: rem(40px);
  }
}

.embla {
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.embla__dots {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  width: 10px;
  height: 10px;
  background-color: #d8d8d8;
  border-radius: 50%;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.embla__dot.is_selected {
  background-color: #0168b6;
}
