.main {
  display: block;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #002a4b;
  padding-top: 1vw;
}

.avatar {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out; /* Use ease-in-out for a smoother effect */
}

.avatar:hover {
  transform: scale(1); /* Scale up on hover */
}

@media (max-width: 768px) {
  .icon {
    margin: 0 10px;
  }

  .line {
    width: 50px;
  }
}
@media (max-width: 768px) {
  .icon {
    margin: 0 10px;
  }

  .line {
    width: 50px;
  }
}
