.main {
  display: block;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #002a4b;
  padding-top: 5vw;
}

.chartContainer {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 60vw;
  height: 45vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons {
  position: relative;
  width: 79vw;
  top: 50%;
  left: 10vw;
  transform: translate(-90%, -27%);
}
.icon {
  width: 10vw;
  height: 10vw;
  border: 3px solid #0168b6;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  padding: 2vw;
  transform: translate(40%, 40%);
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#handshake {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(10%, 160%);
}

#paper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(40%, 200%);
}

#light {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(230%, -200%);
}

#teacher {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(390%, -10%);
}

#chat {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(470%, -290%);
}

#analisys {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(540%, -511%);
}

#results {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(659%, -400%);
}

#end {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(779%, -580%);
}

.sineWave {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.avatar {
  transition: transform 0.3s ease-in-out; /* Use ease-in-out for a smoother effect */
}

.avatar:hover {
  transform: scale(1.1); /* Scale up on hover */
}

@media (max-width: 768px) {
  .icon {
    margin: 0 10px;
  }

  .line {
    width: 50px;
  }
}
@media (max-width: 768px) {
  .icon {
    margin: 0 10px;
  }

  .line {
    width: 50px;
  }
}
